<header class="fixed-top">
    <nav class="navbar navbar-light bg-white">
        <a class="navbar-brand">
            <i (click)="menu.toggle()" class="fa fa-bars mr-2"></i>
            ALURAPIC
        </a>
        <ap-menu #menu>
            <ul>
                <li><a [routerLink]="['/p', 'add']">Add photo</a></li>
                <li><a (click)="logout()">Logout</a></li>
            </ul>
        </ap-menu>

        <div *ngIf="(user$ | async) as user; else login">
            <i class="fa fa-user-circle"></i>
            <a class="ml-2">{{ user?.name | uppercase }}</a>
            <a (click)="logout()" class="ml-2 logout-link">[Logout]</a>
        </div>
        <ng-template #login>
            <div>
                <a class="ml-2" [routerLink]="['']">Login</a>
            </div>
        </ng-template>
    </nav>
    <div class="fixed-top">
        <ap-loading></ap-loading>
        <ap-alert></ap-alert>
    </div>
</header>